export SQL_HOST=<db host>
export SQL_PORT=<db port>
export SQL_DBNAME=<db name>
export SQL_WRITE_USER=<user with write access to postgres>
export SQL_WRITE_PASSWORD=<password for that user>
export SQL_READ_USER=<user with read only access to postgres>
export SQL_READ_PASSWORD=<password for that user>
